<div class="max-w-4xl mx-auto px-5 mt-16 mb-16">

    <div class="text-center">
        <h2  id="servicios" class="font-semibold text-4xl text-[#6b4a5f]">Nuestros servicios</h2>
        <p class="max-w-md mx-auto mt-2 text-gray-500"> Asesoría legal especializada en defensa al consumidor para proteger tus derechos de forma efectiva.</p>
    </div>


    <div class="grid md:grid-cols-2 gap-10 mt-18">


        <div class="flex gap-4 items-start">
            <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
           🏦</span>
            <div>
                <h3 class="font-semibold text-xl text-slate-800">Estafa bancaria o débito no autorizado</h3>
                <p class="mt-1 text-gray-500"> Asesoramiento para <span class=" text-gray-600 font-bold">identificar y reclamar movimientos bancarios sospechosos o no reconocidos.</span></p>
            </div>
        </div>


        <div class="flex gap-4 items-start">
            <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
           💳</span>
            <div>
                <h3 class="font-semibold text-xl text-slate-800">Créditos o productos no solicitados</h3>
                <p class="mt-1 text-gray-500"> Reclamos por <span class=" text-gray-600 font-bold">créditos, seguros u otros productos financieros que te hayan asignado sin tu consentimiento.</span></p>
            </div>
        </div>


        <div class="flex gap-4 items-start">
            <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
           📋 </span>
            <div>
                <h3 class="font-semibold text-xl text-slate-800"> Inclusión indebida en Veraz u otros registros</h3>
                <p class="mt-1 text-gray-500"> Te ayudamos a gestionar <span class=" text-gray-600 font-bold">la exclusión de informes negativos que no corresponden a tu historial crediticio.</span></p>
            </div>
        </div>


        <div class="flex gap-4 items-start">
            <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
           🛠️</span>
            <div>
                <h3 class="font-semibold text-xl text-slate-800">Incumplimiento en la calidad de un producto o servicio</h3>
                <p class="mt-1 text-gray-500"> Defensa frente a <span class=" text-gray-600 font-bold">productos defectuosos o servicios mal prestados</span> para hacer valer tus derechos.</p>
            </div>
        </div>


        <div class="flex gap-4 items-start">
            <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
           💸</span>
            <div>
                <h3 class="font-semibold text-xl text-slate-800">Cobros indebidos por parte de una prepaga</h3>
                <p class="mt-1 text-gray-500"> Reclamos relacionados con <span class=" text-gray-600 font-bold">facturaciones erróneas o cargos no autorizados en tu obra social o prepaga.</span> </p>
            </div>
        </div>


        <div class="flex gap-4 items-start">
            <span class="text-violet-600 bg-violet-500/10 p-3 rounded-full">
           ✈️ </span>
            <div>
                <h3 class="font-semibold text-xl text-slate-800">Reclamos contra aerolíneas</h3>
                <p class="mt-1 text-gray-500"> Asistencia para gestionar compensaciones por <span class=" text-gray-600 font-bold">retrasos, cancelaciones o pérdida de equipaje.</span></p>
            </div>
        </div>

    </div>
</div>


<section class="relative bg-gradient-to-r from-[#6b4a5f] via-[#825c74] to-[#a3828f] py-12">
  <div class="container mx-auto px-6 max-w-screen-xl">
    <div class="flex flex-col lg:flex-row items-center justify-between h-[250px] md:h-[200px]">
      
      <!-- TEXTO -->
      <div class="w-full lg:w-1/2 text-center md:ml-38 lg:text-left">
        <h2 class="text-3xl font-bold text-gray-200 mb-4">Empezá tu reclamo hoy mismo.</h2>
       <p class="text-lg text-gray-300 mb-8 max-w-md mx-auto lg:mx-0">
  <strong>No estás solo.</strong> Si <strong>te estafaron</strong>, <strong>te cobraron de más</strong> o <strong>te metieron en un plan que no pediste</strong>, nuestro estudio legal está para <strong>defenderte</strong>. Cuanto antes actúes, mejor.
</p>
   <a href="https://wa.me/1234567890?text=Hola%2C+los+contacto+desde+su+p%C3%A1gina+web.+Me+gustar%C3%ADa+hacer+una+consulta." target="_blank" class="inline-flex items-center bg-[#d2a547] hover:bg-[#c9a045] text-white font-semibold py-3 px-8 rounded-2xl transition duration-300">
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" class="w-5 h-5 mr-2">
  Contactanos ahora
</a>
      </div>

      <!-- IMAGEN solo en escritorio -->
      <div class="hidden lg:flex lg:w-1/2 justify-center ">
        <img src="/src/assets/mujer-wsp.png" alt="Personas firmando" class="h-[297px] w-auto object-contain" />
      </div>

    </div>
  </div>
</section>

