<div id="pasos" class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <div>
      <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-[#d2a547] uppercase rounded-full bg-teal-accent-400">
        Sabemos defenderte
      </p>
    </div>
    <h2 class="max-w-lg mb-6  font-sans text-3xl font-bold leading-none tracking-tight text-[#6b4a5f] sm:text-4xl md:mx-auto text-[#6b4a5f] " style="font-family: 'Merriweather', serif;">
      <span class="relative inline-block">
        <svg viewBox="0 0 52 24" fill="currentColor" class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block">
          <defs>
            <pattern id="d0d83814-78b6-480f-9a5f-7f637616b267" x="0" y="0" width=".135" height=".30">
              <circle cx="1" cy="1" r=".7"></circle>
            </pattern>
          </defs>
          <rect fill="url(#d0d83814-78b6-480f-9a5f-7f637616b267)" width="52" height="24"></rect>
        </svg>
        <span class=" relative">¿Cual</span>
      </span>
      es nuestra manera de trabajar? 
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
    Protegemos tus derechos para que recibas el trato justo que mereces, guiándote en cada paso del proceso legal.
    </p>
  </div>
  <div class="relative grid gap-8 row-gap-5 mb-8 md:row-gap-8 lg:grid-cols-4 sm:grid-cols-2">
 
    <div class="p-5 duration-300 transform bg-white border border-[#d2a547] rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Análisis del caso</p>
        <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          1
        </p>
      </div>
      <p class="text-sm text-gray-900">
      Escuchamos tu situación y evaluamos tus derechos como consumidor para diseñar una estrategia efectiva.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border border-[#d2a547] rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Negociación y mediación</p>
        <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          2
        </p>
      </div>
      <p class="text-sm text-gray-900">
      Intentamos resolver los conflictos sin llegar a juicio, buscando acuerdos rápidos y justos.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border border-[#d2a547] rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Representación legal</p>
        <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          3
        </p>
      </div>
      <p class="text-sm text-gray-900">
      Si es necesario, te representamos ante tribunales para exigir el cumplimiento de tus derechos.
      </p>
    </div>
    <div class="p-5 duration-300 transform bg-white border border-[#d2a547] rounded shadow-sm hover:-translate-y-2">
      <div class="flex items-center justify-between mb-2">
        <p class="text-lg font-bold leading-5">Resultados reales</p>
        <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-deep-purple-accent-400 bg-indigo-50">
          4
        </p>
      </div>
      <p class="text-sm text-gray-900">
       Nuestro objetivo es asegurar que recibas la compensación que mereces, defendiendo tus derechos hasta el final.
      </p>
    </div>
  </div>
 
</div>